/*FIRST REVISION CSS*/

* {
	box-sizing:	border-box;
}

body {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:	100px auto 50px;
	grid-gap: 10px;
	grid-template-areas:	"header header"
							"aside article"
							"footer footer";
}

header, aside, article, footer {
	background-color: gray;
}

header {
	grid-area: header;
	display: flex:
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
}

nav {
	flex: .25;
	text-align: center;
	padding: px;
}

aside {
	grid-area: aside;
}

article {
	grid-area: article;
}

footer {
	grid-area: footer;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

section	{
	display: grid;
	width: 100%;
	justify-content: space-between;
}

/* past races */

section#past-races {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas:		"header header"
								"aside article"
								"footer footer";
	grid-gap: 10px;
}

.list-of-races ul	{
	display: block;
}

article#spotify-output {
	display: block;
}

/*instagram page */

section#insta-gallery {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-areas:		"header header"
								"article aside"
								"footer footer";
	grid-gap: 10px;
}

#big-insta-box	{
	display: block;
}

#insta-grid	{
	display: block;
}

/*links page*/

section#dem-links-doe {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-areas:		"header header"
								"article aside"
								"footer footer";
	grid-gap: 10px;
}

/*header.page-header	{
	min-height:150px;
  	display:flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	padding: 20px 75px;
  	justify-content: space-around;
  	align-items: flex-start;
}*/

/*section#Large-Hero {*/
	/*image to be provided
  	background-size: cover;
  	min-height:1000px;
  	display:block;
  	flex-direction: column;
  	padding-left:100px;
}



section#dem-links-doe {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 500px auto;
	grid-template-areas: "links runlinkcarousel";
}

#links {
	grid-column-start: 1;
	grid-column-end: 1;
}

#runlink-carousel	{
	grid-column-start: 3;
	grid-column-end: 4;
}

article	{
	grid-area:	article;
	display: flex;
}


