/*FIRST REVISION CSS*/

* {
	box-sizing:	border-box;
}

body {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:	100px auto auto;
	grid-gap: 10px;
	grid-template-areas:	"header header"
							"section section"
							"footer footer";
}

aside, article {
	background-color: gray;
}

header {
	background-color: black;
	grid-area: header;
	display: flex:
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
}

nav {
	flex: .25;
	text-align: center;
	padding: px;
}

aside {
	grid-area: aside;
}

article {
	grid-area: article;
}

footer {
	grid-area: footer;
	text-align: center;
	background: #333;
	margin-top: -20px;
	/*padding: 20px 0 1px 0;
	margin: 10px 0 0 0;
	font-size: .9em;*/
	color: #ddd
}

img {
	width: 40%
}

a, a:visited {
	text-decoration: none;
	color: white;
}

section	{
	display: grid;
	width: 100%;
	grid-area:section;
	justify-content: space-between;
}

/*landing page*/
#landing-hero {
	background-image: url("../images/ballonapose05-medals.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
}

/*training plan*/
section#large-table	{
	display: flex;
	justify-content: center;

}


/* past races */

section#past-races {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas:		"header header"
								"aside article"
								"footer footer";
	grid-gap: 5px;
}

.list-of-races ul	{
	display: block;
}
/*RACE DETAILS*/

#malibuHalf {
	display: none;
}

#laMar-01 {
	display: none;
}
#hollyHf-01 {
	display: none;
}
#sBar-01 {
	display: none;
}

#bWorld-01 {
	display: none;
}
#laMar-02 {
	display: none;
}

#oC-01 {
	display: none;
}
#sFran-01 {
	display: none;
}
#smClass-01 {
	display: none;
}
#lbeach-01 {
	display: none;
}
#sac-01 {
	display: none;
}
#surfCity-01 {
	display: none;
}
#hollyHf-02 {
	display: none;
}

#smClass-02 {
	display: none;
}
#Passa-01 {
	display: none;
}

#laMar-03 {
	display: none;
}

#sFran-02 {
	display: none;
}

/*RACE DETAILS END*/

/*instagram page */

/*section#insta-gallery {
	display: block;
	}*/

#instafeed	{
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;

}

/*links page*/
.simple-layout{
	/*background-image: url("../images/ballonapose05-medals.JPG");*/
/*	background-repeat: no-repeat;
	background-size: cover;*/
	/*min-height: 800px;*/
	display: flex;
	flex-direction: column;
	padding: 0 0 0 40px;
}
#links-li	{
	display: block;
}
